*.bin
*.edge
*.egg-info
*.eggs
*.ele
*.face
*.idea
*.ipynb_checkpoints
*.mtl
*.node
*.smesh
*.so
*.vtk
*.vtu
*~
.DS_Store
.DS_Store
.cache
GPATH
GRTAGS
GTAGS
__pycache__
a.out
build*
callgrind.out.*
cmake-build-debug
compile_commands.json
dist
dists
jmm.c
scratch
vgcore.*
