*.bin
*.egg-info
*.eggs
*.idea
*.ipynb_checkpoints
*.so
*.vtu
*~
.DS_Store
.DS_Store
.cache
GPATH
GRTAGS
GTAGS
__pycache__
a.out
build*
callgrind.out.*
cmake-build-debug
compile_commands.json
dist
dists
jmm.c
scratch
vgcore.*