appdirs==1.4.4
appnope==0.1.2
backcall==0.2.0
decorator==4.4.2
imageio==2.9.0
importlib-metadata==3.3.0
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
meshio==4.3.8
numpy==1.19.4
parso==0.8.1
pexpect==4.8.0
pi==0.1.2
pickleshare==0.7.5
Pillow==8.0.1
prompt-toolkit==3.0.8
ptyprocess==0.7.0
Pygments==2.7.3
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyvista==0.27.4
pyvistaqt==0.2.0
scooby==0.5.6
traitlets==5.0.5
typing-extensions==3.7.4.3
vtk==9.0.1
wcwidth==0.2.5
zipp==3.4.0
